<!-- header.component.html -->
<header>
  <div class="top-bar">
    <div class="container">
      <div class="top-left">
        <a href="#">Account</a>
        <a href="#">Track Order</a>
        <a href="#">Support</a>
        <button (click)="logout()">LOGOUT</button>
      </div>
      <div class="top-right">
        <span><i class="fas fa-phone-alt"></i> + 00645 4568</span>
        <span><i class="fas fa-envelope"></i> Youremail&#64;gmail.com</span>
      </div>
    </div>
  </div>
  <div class="main-header">
    <div class="container">
      <div class="logo">
        <img src="assets/EcoShop.png" alt="Eco Shop">
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Search Product.....">
        <select>
          <option>All Categories</option>
        </select>
        <button>Search</button>
      </div>
      <div class="icons">
        <i class="fas fa-sync-alt"><span>0</span></i>
        <i class="fas fa-heart"><span>0</span></i>
       <button routerLink="/cart"> <i class="fas fa-shopping-bag"><span>0</span></i></button>
        <i class="fas fa-user"></i>
      </div>
    </div>
  </div>
  <nav class="nav-bar">
    <div class="container">
      <div class="categories">
        <div class="dropdown">
          <button class="dropbtn">
            <i class="fas fa-bars"></i> 
            <b>All Categories</b> 
            <i class="fas fa-chevron-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="#"><i class="fas fa-anchor"></i> Vegetable</a>
            <a href="#"><i class="fas fa-apple-alt"></i> Fruits</a>
            <a href="#"><i class="fas fa-mobile-alt"></i> Juice</a>
            <a href="#"><i class="fas fa-home"></i> Meat</a>
            <a href="#"><i class="fas fa-fan"></i> Smoothie</a>
            <a href="#"><i class="fas fa-bread-slice"></i> Bread</a>
            <a href="#"><i class="fas fa-fish"></i> Sea Food</a>
            <a href="#"><i class="fas fa-paw"></i> Pet Food</a>
            <a href="#"><i class="fas fa-mug-hot"></i> Milk & Drinks</a>
            <a href="#"><i class="fas fa-dumbbell"></i> Protein</a>
          </div>
        </div>
      </div>
      <ul class="nav-links">
        <li><a routerLink="/products">Home</a></li>
        <li><a href="#">Shop +</a></li>
        <li><a href="#">Pages +</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
        <li><a routerLink="/profile">User Dashboard</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <div class="seller-login">
        <button>Seller Login</button>
      </div>
    </div>
  </nav>
</header>
