
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card review-card">
                    <div class="card-body">
                        <p class="review-date">July 22, 2022</p>
                        <div class="stars">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </div>
                        <h3 class="card-title">Bananas Evidence-Based...</h3>
                        <img src="assets/banana.png" alt="Bananas" class="img-fluid mb-3">
                        <p class="card-text">Didn't I tell you not put your phone on charge because weekend?</p>
                        <button class="btn btn-edit">Edit Review</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card review-card">
                    <div class="card-body">
                        <p class="review-date">July 22, 2022</p>
                        <div class="stars">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </div>
                        <h3 class="card-title">Orange Fruits is the source...</h3>
                        <img src="assets/oranges.png" alt="Oranges" class="img-fluid mb-3">
                        <p class="card-text">Didn't I tell you not put your phone on charge because weekend?</p>
                        <button class="btn btn-edit">Edit Review</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card review-card">
                    <div class="card-body">
                        <p class="review-date">July 22, 2022</p>
                        <div class="stars">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </div>
                        <h3 class="card-title">Lemon Juice Can refresh...</h3>
                        <img src="assets/lemon.png" alt="Lemons" class="img-fluid mb-3">
                        <p class="card-text">Didn't I tell you not put your phone on charge because weekend?</p>
                        <button class="btn btn-edit">Edit Review</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-4">
                <div class="card review-card">
                    <div class="card-body">
                        <p class="review-date">July 22, 2022</p>
                        <div class="stars">
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                            <span class="star">&#9733;</span>
                        </div>
                        <h3 class="card-title">Strawberry Fruits</h3>
                        <img src="assets/strawberry.png" alt="Strawberries" class="img-fluid mb-3">
                        <p class="card-text">Didn't I tell you not put your phone on charge because weekend?</p>
                        <button class="btn btn-edit">Edit Review</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
